---
import Layout from "../../../layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { CamelToWords } from "../../../utils/convertStringFormat";
import { ChatBox } from "../../../components/react/ChatBox.tsx";

export const getStaticPaths = (async () => {
    const { PUBLIC_SERVER_API } = import.meta.env
    const res: Promise<ResponseData<string[]>> = await (
        await fetch(`${PUBLIC_SERVER_API}/cats/breeds`)
    ).json();
    const breedsRes = await res;
    return breedsRes.data.map((v) => ({ params: { breed: v } }));
}) satisfies GetStaticPaths;

const { breed } = Astro.params;
---

<Layout>
    <div
        class="bg-amber-100 border-4 border-slate-600 w-1/2 mx-auto my-10 rounded drop-shadow-md overflow-hidden px-1"
    >
        <label class="font-bold pl-1 text-3xl" for="chat-title">{CamelToWords(breed)}</label>
      
        <ChatBox breed={breed} client:only="react" />
       
    </div>
</Layout>