---
import Layout from "../../../layouts/Layout.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
    return [
        {params: {breed: "persian"}},
        {params: {breed: "ragdoll"}}
    ];
}) satisfies GetStaticPaths;

const { breed } = Astro.params;
---
<Layout title="Chat">
    <div class="border-2 border-slate-700 w-1/2 mx-auto my-10 rounded overflow-hidden">
        <label class="font-bold pl-1" for="chat-title">{breed}</label>
        <ul class="bg-amber-100 h-[60vh] flex flex-col p-1 overflow-auto">
            <li>message 1</li>
            <li>message 2</li>
            <li>message 3</li>
        </ul>
        <div class="flex">
            <input class="w-full p-1" placeholder="type message..." type="text">
            <button class="font-bold p-1">send</button>
        </div>
    </div>
</Layout>