<div class="flex justify-between shadow-sm bg-gradient-to-r from-amber-300 via-yellow-300 to-amber-200 pr-5 pl-3 py-1">
    <a class="font-bold text-3xl text-slate-800" href="/"> catalk </a>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

    a {
        font-family: "Rampart One", cursive;
        font-style: normal;
    }
</style>
